body {
    background: #222;
    color: white;
    font-family: Arial;
    text-align: center;
}

.titulo {
    margin-top: 20px;
    font-size: 40px;
    background: linear-gradient(90deg, #ff3c3c, #31c8ff);
    -webkit-background-clip: text;
    color: transparent;
}

.carousel {
    margin-top: 50px;
    perspective: 1000px;
}

.item {
    width: 300px;
    height: 400px;
    margin: auto;
    position: relative;
    transform: rotateY(0deg);
    animation: girar 8s infinite linear;
}

@keyframes girar {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.playera {
    width: 100%;
}

.logo {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 140px;
    opacity: 1;
}
